<!DOCTYPE html>
<html>

<head>
    <title>
        jovian careers
    </title>
    {% include 'bootstrap.html'%}
    {% include 'banner.html'%}
    
</head>

<body>
    {%include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center mt-3 mb-3"> Jovian careers </h1>
        <div class="row">
        <div class="col-md-6">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
            pellentesque sem
            placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
            vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc
            posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
            inceptos himenaeos.
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
            placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
            vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc
            posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra
            inceptos himenaeos.</p>
        </div>
        <div class="d-none d-md-block col-md-6"><img src="/static/people.jpg" style="height: 360px; margin-left: 100px;" alt=""></div>
        </div>
            
        <h2 class="text-center mt-2 mb-3">Job Openings</h2>
        <div>
            {% for job in jobs%}
            {%include 'jobitem.html'%}
            {% endfor %}
        </div>
        <div>
            <div class="text-center"><a href="mailto:hello@jovin.ai?subject=Query%20About%20Job%20Openings%20&body=My%20Name%20%3A%20%3Center%20your%20name%3E%0D%0AQuery%20%3A%20%3Center%20your%20query%20here%3E" class="btn btn-primary btn-sm mb-3">contact us </a></div>
        </div>
    </div>
    {% include 'footer.html'%}
</body>

</html>