<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="color: rgb(100, 100, 100); margin-bottom: 4px;">{{job['TITLE']}}</h4>
        <div>Locations: {{job['LOCATION']}}</div>
        {% if 'SALARY' in job%}
        <div>Salary: {{job['SALARY']}}</div>
        {% endif %}
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
        <a href="/jobs/{{job['ID']}}" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
    
</div>