<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="color: rgb(100, 100, 100); margin-bottom: 4px;">{{job['title']}}</h4>
        <div>Locations: {{job['title']}}</div>
        {% if 'Salary' in job%}
        <div>Salary: {{job['Salary']}}</div>
        {% endif %}
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-primary">Apply</button>
    </div>
    
</div>